extends layout

block content
    h1= title

    if !userData
        a(href= "/login") Login
    else
        p You are logged In as
            |&nbsp;
            a(href= userData.external_urls.spotify)= userData.display_name


    if message
        p= message