extends layout

block content
    h1= title

    if !userData
        a(href= "/login") Login
    else
        p You are logged In as
            | &nbsp;
            a(href= userData.external_urls.spotify)= userData.display_name

        p
            a(href= "/login/logout") Logout
        p
            form(action="/actions/update-liked-songs-playlist" method= "post")
                button Lieblings-Song-Playlist Aktualisieren



    if message
        p #{ typeof message == 'string' ? message : JSON.stringify(message).replaceAll("\\", "")}